/* html{
  scroll-behavior: smooth;
} */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
h1{
    font-size: 52px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
    line-height: 0;
}
p{
    font-size: 20px;
    margin-bottom: 50px;
}
a{
    text-decoration: none;
    color: #fc49c0;
}
.color-pink{
    color: #fc49c0;
}
/* header */
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: top 0.5s;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 0 1.5em;
}
/* healthy food */
header{
    background-color: white;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
}
.helthy-food{
    background-image: url(images/shapes/Frame1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
.half-width{
    width: 50%;
    margin: 2% 5%;
}
.button-order {
    background: linear-gradient( 339deg, #12eaa5, #ffedf9, #e87ac4);
    padding: 18px 40px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 61px;
}
/* About me Start */
.about-me{
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
.about-me img{
    width: 400px;
}
/* recipi Start */
.recipi-section{
    background-image: url(images/shapes/recipi-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-top: 100px;
}
.my-recipies{
    display: flex;
    justify-content: space-evenly;
}
.recipi-info{
    margin: 0 20%;
    text-align: center;
}
.three-width img{
    border-radius: 15px;
}
.three-width{
    width: 20%;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 10px 10px 50px #f67d97;
}
/* social-folower */
.social-folower{
    width: 85%;
    margin: auto;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 50px #f67d97;
    text-align: center;
    margin-top: 100px;
    padding-top: 50px;
}
/* opening Hour */
.oh-section {
    background-image: url(images/food/Project\ Cover4.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding: 100px 0;
    margin-top: 100px;
}
.opening-hour {
    display: flex;
    /* margin: auto; */
    text-align: center;
}
.opening-hour h3{
    line-height: 1;
}
/* form */
.form-order {
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    margin: 0;
}
.half-width2{
    margin: auto;
    width: 50%;
}
form input{
    width: 100%;
    padding: 18px 40px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #f944bd;
    border-radius: 51px;
    box-sizing: border-box;
    font-size: initial;
}
/* footer */
footer{
    text-align: center;
    padding: 50px;
    background-color: #0b0d17;
}
footer h2{
    color: #f3b970;
}
footer p{
    color: whitesmoke;
}
/* The End */
